.logo{
    text-align: left;
   text-decoration-color: black;
}
.class-for-index{
    background: gray;
    text-align: center;
}
.class-for-portfolio{
    background: grey;

}
.class-for-contact{
    background: grey;
}


